{% extends 'base.html.twig' %}

{% block body %}

<table>
	<tr>
		<td>Name</td>
		<td>Realse Date</td>
		<td>Director</td>
		<td>Actors</td>
		<td>Aff.</td>
	</tr>
	{% for movie in movies %}
		<tr>
			<td>{{ movie.name|e }}</td>
			<td>{{ movie.releaseDate|date("d M Y", "Europe/Paris") }}</td>
			<td>{{ movie.director|e }}</td>
			<td>NA</td>
			<td><a href="{{ path('app_movie_view', {id : movie.id}) }}">view</a></td>
		</tr>
	{% endfor %}
</table>

{% endblock %}